.slider {
    margin-bottom: 60px;
}

.contacts {
    text-align: center;
}

.icon {
    background-color: rgb(194, 224, 184);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 20px auto;
}

.icon_img {
    width: 70px;
    height: 70px;
    margin: 10px;
}

.hide_block {
    height: 100px;
}

#image {
    height: 350px;
    width: 500px;
    margin-bottom: -40px;
}

.slider {
    text-align: center;
}

nav {
    margin-bottom: 50px;
}

.txt {
    font-size: 30px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}